
* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



.App{
    /*codigo funcionando en css background-image: url(./assets/fondo1.png)*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-size: auto;
 
   
  
}



.container{
  display: flex;
  padding: 10px;
  flex-direction: column;  
  align-items: center;
  height: 700px;
  justify-content:space-between;
}

.title{ 

color: rgb(254, 219, 131);
/*text-shadow: 10px 10px  rgb(255, 157, 44);*/
font-size:45px;
font-family: 'Fredoka One', cursive;

-webkit-text-stroke: 1px rgb(237, 132, 11);


}

.phrase {
  border: 3px dashed rgb(236, 175, 236);
 
  
  width: 400px;
  background-color: antiquewhite;
  border-radius: 20px;
  

}

.phrase h1{

 color: gray;
 
 font-family: 'Shantell Sans', cursive;
 padding: 30px;
 font-size: 20px; 
 text-align: center;
 width:fit-content;
 border: 1px;
 border-radius: 2px;

}

.button {
  position: absolute;
  bottom: 200px;
  border: 1px solid rgb(251, 111, 83);
  font-size: 20px;
  width: 200px;
  height: 50px;
  background-color: antiquewhite;
  border-radius: 20px;
  color: rgb(239, 187, 159);
  font-family: 'Varela Round', sans-serif;
}

.source{
 
  width: 200px;
  height:auto; 
  background-color: antiquewhite;
  border-radius: 6px;
  padding: 10px;
  opacity: 0.7;

  
  
}

h2{
  font-size: 20px;
  text-align: center;
  font-family: 'Varela Round', sans-serif;  
  padding: 10;


 
  
  color: rgb(255, 255, 255);
 
}


